# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
src/goofy

# Autotools
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/goofyd
src/gopher/.deps/
src/gopher/.dirstamp
src/stamp-h1
src/util/.deps/
src/util/.dirstamp
